In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
import datetime
import re
from ipython_config import db_password

In [2]:
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Lyrics_Platinum"

engine = create_engine(db_string)

In [3]:
# Get database tables
print(engine.table_names())

['Billboard_non_hit', 'Billboard_hit', 'Songs_rank', 'mock_data']

In [4]:
# Create dataframe for non-hit songs
bb_miss_data = engine.table_names()[0]
bb_miss_df = pd.read_sql_table(bb_miss_data,engine)
bb_miss_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year
0,0,0,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,2003
1,1,1,TRMMMBB12903CB7D21,SOEYRFT12AB018936C,Kris Kross,2 Da Beat Ch'yall,1993
2,2,2,TRMMMNS128F93548E1,SOYGNWH12AB018191E,3 Gars Su'l Sofa,L'antarctique,2007
3,3,3,TRMMMXJ12903CBF111,SOLJTLX12AB01890ED,Jorge Negrete,El hijo del pueblo,1997
4,4,4,TRMMMKI128F931D80D,SOSDCFG12AB0184647,Lena Philipsson,006,1998

In [5]:
# Create dataframe for hit songs
bb_hit_data = engine.table_names()[1]
bb_hit_df = pd.read_sql_table(bb_hit_data,engine)
bb_hit_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks
0,0,0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,Aerosmith,Remember (Walking In The Sand),1979,6,67
1,1,1,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,Michael Cera & Ellen Page,Anyone Else But You,2007,2,91
2,2,2,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,Brook Benton,Lie To Me,1986,10,13
3,3,4,TRMMFIS128E078EDEA,SOYURIX12A6701E960,Aerosmith,Cryin',1993,26,12
4,4,7,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,Buster Brown,Sugar Babe,2002,2,99

In [6]:
# Create dataframe for rank songs dataset
songs_rank_data = engine.table_names()[2]
songs_rank_df = pd.read_sql_table(songs_rank_data,engine)
songs_rank_df.head()

,index,date,title,artist,peakPos,lastPos,weeks,rank,change
0,0,6/21/18,4th Dimension,KIDS SEE GHOSTS Featuring Louis Prima,42,0,1,42,New
1,1,6/21/18,All Girls Are The Same,Juice WRLD,41,49,5,41,8
2,2,6/21/18,All Mine,Kanye West,11,11,2,31,-20
3,3,6/21/18,Alone,Halsey Featuring Big Sean & Stefflon Don,70,73,9,74,-1
4,4,6/21/18,Babe,Sugarland Featuring Taylor Swift,72,0,2,95,Re-Entry

In [7]:
# Drop columns 
songs_rank_df = songs_rank_df.drop(columns= ["peakPos","lastPos","change"],axis=1)
songs_rank_df.head()

,index,date,title,artist,weeks,rank
0,0,6/21/18,4th Dimension,KIDS SEE GHOSTS Featuring Louis Prima,1,42
1,1,6/21/18,All Girls Are The Same,Juice WRLD,5,41
2,2,6/21/18,All Mine,Kanye West,2,31
3,3,6/21/18,Alone,Halsey Featuring Big Sean & Stefflon Don,9,74
4,4,6/21/18,Babe,Sugarland Featuring Taylor Swift,2,95

In [8]:
# Extract year from date column
songs_rank_df["year"] = pd.DatetimeIndex(songs_rank_df['date']).year
songs_rank_df = songs_rank_df.drop(["date"],axis=1)
songs_rank_df.head()

,index,title,artist,weeks,rank,year
0,0,4th Dimension,KIDS SEE GHOSTS Featuring Louis Prima,1,42,2018
1,1,All Girls Are The Same,Juice WRLD,5,41,2018
2,2,All Mine,Kanye West,2,31,2018
3,3,Alone,Halsey Featuring Big Sean & Stefflon Don,9,74,2018
4,4,Babe,Sugarland Featuring Taylor Swift,2,95,2018

In [9]:
# Rename columns and add successful column
songs_rank_df =songs_rank_df.rename(columns= {"rank":"peak"})
songs_rank_df["Successful"] = 1
songs_rank_df.head()

,index,title,artist,weeks,peak,year,Successful
0,0,4th Dimension,KIDS SEE GHOSTS Featuring Louis Prima,1,42,2018,1
1,1,All Girls Are The Same,Juice WRLD,5,41,2018,1
2,2,All Mine,Kanye West,2,31,2018,1
3,3,Alone,Halsey Featuring Big Sean & Stefflon Don,9,74,2018,1
4,4,Babe,Sugarland Featuring Taylor Swift,2,95,2018,1

In [10]:
# Change the order of columns
songs_rank_df = songs_rank_df[["artist","title","year","Successful"]]
songs_rank_df.sort_values(by="year")

,artist,title,year,Successful
7488,Ronnie Dyson,I Don't Wanna Cry,1970,1
7497,Bill Anderson,Where Have All Our Heroes Gone,1970,1
7496,The Intruders,This Is My Love Song,1970,1
7495,Engelbert Humperdinck,Sweetheart,1970,1
7494,Bobby Vee,Sweet Sweetheart,1970,1
...,...,...,...,...
249,XXXTENTACION,Numb,2018,1
250,Miguel Featuring Travis Scott,Sky Walker,2018,1
251,Khalid,Young Dumb & Broke,2018,1
242,Selena Gomez X Marshmello,Wolves,2018,1
0,KIDS SEE GHOSTS Featuring Louis Prima,4th Dimension,2018,1

In [11]:
# Add Successful column to tables
bb_miss_df["Successful"] = 0
bb_miss_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,Successful
0,0,0,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,2003,0
1,1,1,TRMMMBB12903CB7D21,SOEYRFT12AB018936C,Kris Kross,2 Da Beat Ch'yall,1993,0
2,2,2,TRMMMNS128F93548E1,SOYGNWH12AB018191E,3 Gars Su'l Sofa,L'antarctique,2007,0
3,3,3,TRMMMXJ12903CBF111,SOLJTLX12AB01890ED,Jorge Negrete,El hijo del pueblo,1997,0
4,4,4,TRMMMKI128F931D80D,SOSDCFG12AB0184647,Lena Philipsson,006,1998,0

In [12]:
# Add Successful column to tables
bb_hit_df["Successful"] = 1
bb_hit_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful
0,0,0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,Aerosmith,Remember (Walking In The Sand),1979,6,67,1
1,1,1,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,Michael Cera & Ellen Page,Anyone Else But You,2007,2,91,1
2,2,2,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,Brook Benton,Lie To Me,1986,10,13,1
3,3,4,TRMMFIS128E078EDEA,SOYURIX12A6701E960,Aerosmith,Cryin',1993,26,12,1
4,4,7,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,Buster Brown,Sugar Babe,2002,2,99,1

In [13]:
# Connect all three dataframes
bb_df = pd.concat([bb_hit_df,bb_miss_df,songs_rank_df])
bb_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,Aerosmith,Remember (Walking In The Sand),1979,6.0,67.0,1
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,Michael Cera & Ellen Page,Anyone Else But You,2007,2.0,91.0,1
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,Brook Benton,Lie To Me,1986,10.0,13.0,1
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,Aerosmith,Cryin',1993,26.0,12.0,1
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,Buster Brown,Sugar Babe,2002,2.0,99.0,1

In [14]:
# Get null values
bb_df.isnull().sum()
bb_df.fillna(0)

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,Aerosmith,Remember (Walking In The Sand),1979,6.0,67.0,1
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,Michael Cera & Ellen Page,Anyone Else But You,2007,2.0,91.0,1
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,Brook Benton,Lie To Me,1986,10.0,13.0,1
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,Aerosmith,Cryin',1993,26.0,12.0,1
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,Buster Brown,Sugar Babe,2002,2.0,99.0,1
...,...,...,...,...,...,...,...,...,...,...
20103,0.0,0.0,0,0,The Soup Dragons,I'm Free,1990,0.0,0.0,1
20104,0.0,0.0,0,0,Vixen,Love Is A Killer,1990,0.0,0.0,1
20105,0.0,0.0,0,0,Paul Young,Oh Girl,1990,0.0,0.0,1
20106,0.0,0.0,0,0,Kyper,Tic-Tac-Toe,1990,0.0,0.0,1
20107,0.0,0.0,0,0,Vaughan Brothers,Tick Tock,1990,0.0,0.0,1

In [15]:
bb_df.shape

(115175, 10)

In [16]:
# Capitalize artist and title columns
bb_df['artist'] = bb_df['artist'].str.upper()
bb_df['title'] = bb_df['title'].str.upper()
bb_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,AEROSMITH,REMEMBER (WALKING IN THE SAND),1979,6.0,67.0,1
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,MICHAEL CERA & ELLEN PAGE,ANYONE ELSE BUT YOU,2007,2.0,91.0,1
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,BROOK BENTON,LIE TO ME,1986,10.0,13.0,1
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,AEROSMITH,CRYIN',1993,26.0,12.0,1
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,BUSTER BROWN,SUGAR BABE,2002,2.0,99.0,1

In [17]:
# Create regex to find "Featuring" artists
feat_string = r'\s[F][E][A][T][U][R][E][S]|\s[F][E][A][T][U][R][I][N][G]|\s[F][E][A][T]\.'

In [18]:
# Split artist column to get the featuring artists
bb_df = pd.concat([bb_df,bb_df.title.str.split(feat_string,expand=True)],1)

# keep only the top 3 artists
bb_df = bb_df.drop(bb_df.columns[12:15], axis=1)

# #rename the columns
bb_df = bb_df.rename(columns={0: 'title_clean', 1: 'artist_feat'})
bb_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful,title_clean,artist_feat
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,AEROSMITH,REMEMBER (WALKING IN THE SAND),1979,6.0,67.0,1,REMEMBER (WALKING IN THE SAND),None
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,MICHAEL CERA & ELLEN PAGE,ANYONE ELSE BUT YOU,2007,2.0,91.0,1,ANYONE ELSE BUT YOU,None
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,BROOK BENTON,LIE TO ME,1986,10.0,13.0,1,LIE TO ME,None
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,AEROSMITH,CRYIN',1993,26.0,12.0,1,CRYIN',None
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,BUSTER BROWN,SUGAR BABE,2002,2.0,99.0,1,SUGAR BABE,None

In [19]:
# Format artist column
bb_df['artist'] = bb_df['artist'].str.replace("&",",").str.replace("FEAT.",",").str.replace("FEATURING",",")
bb_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful,title_clean,artist_feat
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,AEROSMITH,REMEMBER (WALKING IN THE SAND),1979,6.0,67.0,1,REMEMBER (WALKING IN THE SAND),None
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,"MICHAEL CERA , ELLEN PAGE",ANYONE ELSE BUT YOU,2007,2.0,91.0,1,ANYONE ELSE BUT YOU,None
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,BROOK BENTON,LIE TO ME,1986,10.0,13.0,1,LIE TO ME,None
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,AEROSMITH,CRYIN',1993,26.0,12.0,1,CRYIN',None
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,BUSTER BROWN,SUGAR BABE,2002,2.0,99.0,1,SUGAR BABE,None

In [20]:
# Concatenate artist column by comma
bb_df=pd.concat([bb_df,bb_df.artist.str.split(',',expand=True)],1)

# keep only the top 3 artists
bb_df = bb_df.drop(bb_df.columns[15:59], axis=1)

#rename the columns
bb_df = bb_df.rename(columns={0: 'artist_1', 1: 'artist_2', 2: 'artist_3'})
bb_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful,title_clean,artist_feat,artist_1,artist_2,artist_3
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,AEROSMITH,REMEMBER (WALKING IN THE SAND),1979,6.0,67.0,1,REMEMBER (WALKING IN THE SAND),None,AEROSMITH,None,None
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,"MICHAEL CERA , ELLEN PAGE",ANYONE ELSE BUT YOU,2007,2.0,91.0,1,ANYONE ELSE BUT YOU,None,MICHAEL CERA,ELLEN PAGE,None
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,BROOK BENTON,LIE TO ME,1986,10.0,13.0,1,LIE TO ME,None,BROOK BENTON,None,None
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,AEROSMITH,CRYIN',1993,26.0,12.0,1,CRYIN',None,AEROSMITH,None,None
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,BUSTER BROWN,SUGAR BABE,2002,2.0,99.0,1,SUGAR BABE,None,BUSTER BROWN,None,None

In [21]:
# Find a duplicate rows
bb_filtered_df = bb_df.drop_duplicates(subset=['artist_1', 'artist_2', 'year', 'title_clean', 'artist_feat'])
bb_filtered_df.sort_values(by="year",ascending=False)

,index,Unnamed: 0,msd_id,echo_nest_id,artist,title,year,peak,weeks,Successful,title_clean,artist_feat,artist_1,artist_2,artist_3
65,NaN,NaN,NaN,NaN,RICH THE KID,PLUG WALK,2018,NaN,NaN,1,PLUG WALK,None,RICH THE KID,None,None
281,NaN,NaN,NaN,NaN,"KHALID , SWAE LEE",THE WAYS,2018,NaN,NaN,1,THE WAYS,None,KHALID,SWAE LEE,None
36,NaN,NaN,NaN,NaN,"CARDI B, BAD BUNNY , J BALVIN",I LIKE IT,2018,NaN,NaN,1,I LIKE IT,None,CARDI B,BAD BUNNY,J BALVIN
288,NaN,NaN,NaN,NaN,"LIAM PAYNE , RITA ORA",FOR YOU (FIFTY SHADES FREED),2018,NaN,NaN,1,FOR YOU (FIFTY SHADES FREED),None,LIAM PAYNE,RITA ORA,None
287,NaN,NaN,NaN,NaN,KEITH URBAN,FEMALE,2018,NaN,NaN,1,FEMALE,None,KEITH URBAN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65756,65755.0,65755.0,TRJLNHE128F426D6C3,SODIWMX12A58A79CCB,BLIND WILLIE JOHNSON,IF I HAD MY WAY I'D TEAR THE BUILDING DOWN,1928,NaN,NaN,0,IF I HAD MY WAY I'D TEAR THE BUILDING DOWN,None,BLIND WILLIE JOHNSON,None,None
79861,79861.0,79861.0,TROOIKH12903CC6109,SOJGRZW12AB018C780,BLIND WILLIE MCTELL,DARK NIGHT BLUES,1928,NaN,NaN,0,DARK NIGHT BLUES,None,BLIND WILLIE MCTELL,None,None
39615,39615.0,39615.0,TRAGJGZ128F421EE19,SODVIWU12A6D4FCDA6,BLIND WILLIE MCTELL,WRITING PAPER BLUES,1927,NaN,NaN,0,WRITING PAPER BLUES,None,BLIND WILLIE MCTELL,None,None
46582,46582.0,46582.0,TRPWVXS128F4280DD3,SOKKDXY12A8C13A5D9,PAPA CHARLIE JACKSON,SKOODLE-UM-SKOO,1927,NaN,NaN,0,SKOODLE-UM-SKOO,None,PAPA CHARLIE JACKSON,None,None
27829,27829.0,27829.0,TRFECYI12903CB4B31,SOIMCPE12AB017CB34,CLARENCE WILLIAMS' BLUE FIVE,PICKIN' ON YOUR BABY,1925,NaN,NaN,0,PICKIN' ON YOUR BABY,None,CLARENCE WILLIAMS' BLUE FIVE,None,None

In [22]:
# Drop the artist and title columns
bb_filtered_df = bb_filtered_df.drop(["artist","title"],axis=1)

In [23]:
bb_filtered_df.columns.get_loc("title_clean")

8

In [24]:
bb_filtered_df.rename(columns={'artist_1' : 'artist',
                               'title_clean': 'title'},inplace=True)
bb_filtered_df.head()

,index,Unnamed: 0,msd_id,echo_nest_id,year,peak,weeks,Successful,title,artist_feat,artist,artist_2,artist_3
0,0.0,0.0,TRMMWJS12903CBB7F5,SOLBDWO12AB0188CC2,1979,6.0,67.0,1,REMEMBER (WALKING IN THE SAND),None,AEROSMITH,None,None
1,1.0,1.0,TRMMCDR128F423AB03,SOSZNRJ12A8AE46E38,2007,2.0,91.0,1,ANYONE ELSE BUT YOU,None,MICHAEL CERA,ELLEN PAGE,None
2,2.0,2.0,TRMMRUB12903CA097C,SOGDEWJ12AB0184C06,1986,10.0,13.0,1,LIE TO ME,None,BROOK BENTON,None,None
3,3.0,4.0,TRMMFIS128E078EDEA,SOYURIX12A6701E960,1993,26.0,12.0,1,CRYIN',None,AEROSMITH,None,None
4,4.0,7.0,TRMMNZH128F92CF7D0,SOXCAWC12A8C144428,2002,2.0,99.0,1,SUGAR BABE,None,BUSTER BROWN,None,None

In [25]:
# Check the dataframe 
(bb_filtered_df["Successful"]).sum()

23850

In [26]:
# Check the dataframe 
bb_filtered_df.shape

(112882, 13)

In [27]:
# Create two separate dataframes for Billboard and nonBillboard rows with the same structure 
non_bb_df = bb_filtered_df.loc[lambda x: x.msd_id.isnull() == True]
bb_only_df = bb_filtered_df.loc[lambda x: x.msd_id.isnull() == False]

In [28]:
# Get the df shape 
non_bb_df.shape

(18018, 13)

In [29]:
# Get the df shape 
bb_only_df.shape

(94864, 13)